{{!-- LOGOUT --}}

<div class="container alert alert-primary p-3">
  <h2 class="text-primary"> Sesion cerrada correctamente, hasta luego </h2>

</div>
<script>
  setTimeout(function () {
  window.location = "/";
  }, 2000)
</script>
