<%- include("template/cabecera", {titulo: 'Error 404'}); %>

<body>
 <div>
    <h1> ERROR - 4 0 4 - Recurso no encontrado </h1>
    <h3>Por favor revisa la consola, podría haber un mensaje </h3>
    <a href="http://localhost:8080/"> Ir al inicio</a>
</div>
    
</body>
</html>