{{!-- formulario de ingreso --}}
<div class="container bg-light p-3 rounded">
  <h2 class="text-primary">Login de usuario</h2>
  <form action="http://localhost:3000/api" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Ingrese su nombre</label>
      <input type="text" class="form-control" name = "name" required />
    </div>
    <button type="submit" class="btn btn-success">Ingresar</button>
  </form>
  <br />
</div>