<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>index</title>
</head>

<body>
    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    </style>
       
    <h2>Entregable 5 - Motores de Plantillas: EJS </h2>

    <p> Para agregar un producto utilice el siguiente formulario: </p><br>

    <form action="/productos" method="post" >
        <div style="width: 60rem; border: solid 1px black; padding: 10px; background-color: lightblue;">
        <label for="POST-name" > Nombre : </label>
        <input type="text" name="title"> 

        <label for="POST-name"  > Precio : </label>
        <input type="text" name="price"> 

        <label for="POST-name"  > Imagen : </label>
        <input type="text" name="thumbnail">         
        <input type="submit"  value="Guardar">
    </form>
<br><br><br>
    <a class = "btn btn-button" style="border: 1px solid black; background-color:bisque"  href="http://localhost:8080/productos">Ver Lista de Productos</a>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>